


#bodyContent2{
    --widthpercentage: 90%;

    position: relative;
    display :grid;
    height:50vw;
    width: 100vw;
    /* background-color: blue; */    

}

#bc2_advertisiment{
    --gridGap :  2%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 15% 85%;
    position: relative;
    box-sizing: border-box;
    background-color:#DCDCDC;
    border-radius: 0.5rem;
    /* display: block; */
    /* width: 95%; */
    width : var(--widthpercentage);
    height: 100%;
    justify-self: center;
    overflow: hidden;
    padding: 5%;
    padding-top: 3%;
    row-gap: var(--gridGap);
    
}

.bc2Content1{
    /* border-style: solid; */
    position: relative;
    justify-self:start;
    top: 0%; 
    width: 100%;
    
    grid-row: 1; 
}
.bc2Content2{
    /* background-color: red; */
    width: 100%;
    display: grid;
    column-gap: calc(var(--gridGap));
    grid-template-columns: calc( 42%  - var(--gridGap)) calc(58% - var(--gridGap)) ;
}

.bc2Content3{
    /* background-color: blue; */
    border-radius: 2em;
    width: 100%;
    height: 100%;
    display: grid;
    column-gap: calc(var(--gridGap));
    grid-template-columns: calc(60% - var(--gridGap))  calc(40% - var(--gridGap));
}
.bc2_3Contents{
    background-color: rgba(0,0,0,0.1);
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 2em;
    margin-top: 100px;
    opacity: 0;
}
/* .sticky {
    background: grey;
    
}
.sticky> div{
    position: sticky;
    top: 0;
    background-color: pink;
  
} */
.bc2Content1 > div > p {
    font-size: 1.5vw;
    font-weight: 600;
    word-wrap:normal;
    margin-bottom: 2.5%;
    display: inline-block; 
    color: rgba(0,0,0,0.8)	;
}
.bc2Content1 > div > p:nth-child(1)
{
    display: inline-block;
    color: red;
}


.hr{
    position : absolute;
    border: 1px solid rgb(0, 0, 0, 0);
    border-top: 1px solid rgb(0, 0, 0, 0.3);
    /* left: -5%; */
    padding: 0;
    margin: 0;
    width : 100%;
    left: 0;
}