.bodyContent3{
    display: block;
    width: 100%;
    height:90%;
    background-color: #202020;
    box-sizing:border-box;
    padding: 10px;
    position: relative;
    top:-60px;
    background-color: red;
}

.bc3_Product{
    border-radius: 1em;
    position: relative;
    border: 0.5px ;
    border-style: solid;
    border-color: rgba(255,255,255,0.8);
    width: 100%;
    height: 100%;
}

#bc3_Title{
    border-bottom:  inherit;
    box-sizing: border-box;
    border-top: 0; border-left: 0; border-right: 0;
    padding: 1rem 1rem 1rem 2rem;
    position: relative;
    margin-bottom: 1%;
    width: 100%;
    height: 11%;
    display: flex;
    align-items: center;
}

.productCarousel{
    /* background-color: red; */
    display: flex;
    width: 100%;
    height: 84%;
    padding: 3%;
    box-sizing: border-box;
    justify-content: center;
    background-color: blue;
}

.productCarousel span[id^="product"]
{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: grey;
    width: 25%;
    height: 100%;
    margin: 0 2% 0 2%;
    gap: 2px;

}

.productCarousel span[id^="product"] > img
{    
   width: 100%;
   opacity: 1;
   /* transition: opacity 1s; */
}

#product1{
    /* background-color: blue; */
}


.productCarousel span[id^="product"] > p{
    display: block;
    position: relative;
    /* align-self: flex-end; */
    text-align: center;
    width: 100%;
    color: white;
    font-size: 55px;
    transition: transform 1s,opacity 1s;
    opacity: 0;
}

.productCarousel span[id^="product"]:hover{
    opacity: 0.5;
    transition: opacity 0.2s;
}
.productCarousel span[id^="product"]:hover > p{
    transform: translate(0, -100%);
    transition: transform 1s, opacity 1s;
    opacity: 1;
}




