body{
  --min-PageWidth: 900px;
}
.headerImage{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: flex-end;
    /* overflow:hidden; */
    min-width: var(--min-PageWidth);
    position: relative;
}

.headerImage > img{
   width: 100%;
   height : 100%;
   object-position: bottom;
   object-fit: contain;
   /* background-color: red; */

}

#headerBox{
    border-style: solid;
    display: inline-block;
    /* background-color: blue; */
    position: absolute;
    min-width: inherit;

  
}

#headerBox .content_Info{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    justify-items: center;
    align-items: center;

    top: 60%;
    left: 40.5%;
    width: 100px;
    height: 100px;
    min-width: 30px;
    min-height: 30px; 
    position: absolute;
}

/* ------------ C1 Botton Start ------------ */
@keyframes buttonAnimate {
    0%{
        width: 55%;
        height: 55%;
        opacity: 0;
    }10%{
        width: 100%;
        height: 100%;
        opacity: 1;
    }20%{
        opacity: 0;
        width: 100%;
        height: 100%;
    }
}

.animationCircle{
    background-color:grey;
    width: 55%;
    height: 55%;
    position : absolute;
    justify-self: center;
    border-radius: 100%;
    z-index:0;
    opacity: 0;
    animation : buttonAnimate 8s infinite ease-in-out;
}

.icon-btn {
    width: 50%;
    height: 50%;
    background: white;
    border-radius: 100%;
    /* overflow: hidden; */
    position: relative;
    font-weight: 500;
    font-family: inherit;
    opacity: 0.9;
  }
  
  .add-btn:hover {
    transition: all 0.3s;
    width: 1000%;
    height: 450%;
    border-radius: 0;
    opacity: 1;
    background-color: white;
    z-index: 999;

  }
  .icon-btn:focus {
    outline: none;
  }
  
  .btn-txt {
    opacity: 0;
  }
  
  .add-btn:hover::before, .add-btn:hover::after {
    width: 4px;
    height: 3%;
    border-radius: 2px;
    top: calc(50% - 2px);
  }
  
  .add-btn:hover .btn-txt {
    position: relative;
    top: -38%;
    opacity: 1;
    font-size: 1vw;
  }
  
  .add-icon {
    content: "";
    position: absolute;
    height: 50%;
    width: 10%;
    border-radius: 2px;
    top : calc(50% - (55%)/2);
    left : calc(50% - (10%)/2);
    background: grey;
  }
  
  .add-icon::after  {

    content: "";
    position: absolute;
    height: 20%;
    width: 250%;
    top: calc(50% - ((20%)/2));
    border-radius: 2em;
    background: grey;
  }
  .add-icon::before  {
    content: "";
    position: absolute;
    height: 20%;
    width: 300%;
    top: calc(50% - ((20%)/2));
    border-radius: 2em;
    background: grey;
    left:-220%;
  }
  .add-btn:hover .add-icon {
    visibility: hidden;
  }
  .add-btn:hover .add-icon::before {
    left: 15px;
    height: 0px;
    top: calc(50% - 2px);
    visibility: hidden;
  }
  
  .add-btn:hover .add-icon::after {
    visibility: hidden;
    right: 15px;
    height: 4px;
    top: calc(50% - 2px);
  }

  /* ------------ C1 Botton End ------------ */
